<div class="row top-padding1 bottom-padding2">
    <div class="col-md-10 col-md-offset-1">
        <div class="hd1">A-Builder</div>

        <div class="hd2">Introduction</div>
        <div class="bd1">
            A-Builder is a Virtual Reality designer utility based on A-Frame, which allows users to create with basic building blocks in a virtual space.
        </div>

        <div class="hd2">Useful Links</div>
        <div class="bd1">
            Github: <a href="https://github.com/MasterFelix15/A-Builder">https://github.com/MasterFelix15/A-Builder</a>
        </div>
        <div class="bd1">
            Live Demo: <a href="http://http://188.166.182.30/">http://http://188.166.182.30/</a>
        </div>

        <div class="hd2">Dev Log</div>
        <div class="hd3">Week 1 (01/18/2018 ~ 01/24/2018):</div>
        <div class="bd1">During the week 1, I completed the first assignment, which is to stitch up all the A-Frame demos on the official website of A-Frame. This served as an assessment of my current knowledge of VR for the professors to determine a detailed plan for the entire duration of this project.</div>

        <div class="hd3">Week 2 (01/25/2018 ~ 01/29/2018):</div>
        <div class="bd1">Professors are fairly pleased with my first assignment, and thus introduced me to the big picture where this project serves as a small but important part. During week 2, I did some exploration on my own and found some very interesting interactions that other people have used in their projects (shake2show, crawling cursor, long press, etc.).</div>

        <div class="hd3">Week 3 (01/30/2018 ~ 02/05/2018):</div>
        <div class="bd1">During week 3, I completed the basic setup of the project, meaning I constructed a scene, a skybox and a user avatar. I also implemented ways for user to put basic geometries in the scene. However, I encountered a lot of difficulties in terms of making use of some of the extra interactions I explored during week 2.</div>

        <div class="hd3">Week 4 (02/06/2018 ~ 02/12/2018):</div>
        <div class="bd1">During week 4, I gave up the idea of using complicated interactions and adopted menu system to help interact with the environment. Based on what I have built in week 3, I added the functions that enable users to teleport in the scene and to make adjustments to the objects (resize, rotate, reposition).</div>

        <div class="hd3">Week 5 (02/13/2018 ~ 02/19/2018):</div>
        <div class="bd1">During week 5, I spent most of the time rewriting the menu system, giving it more layers and hiding unnecessary buttons from the users. I also started an attempt to replace all text-based buttons with intuitive icons.</div>

        <div class="hd3">Week 6 (02/20/2018 ~ 02/23/2018):</div>
        <div class="bd1">During week 6, I perfected the menu system, finalised my code and prepared for the presentation. The presentation took place on 02/23/2018, most things went according to plan, and professors were pleased with my performance.</div>

    </div>
</div>