<div class="row top-padding1">
    <div class="col-md-12 special3">
        <div>
            while(<span class="span1">Felix</span>){<br />
            &nbsp;if(<span class="span1">Demo</span>)<br />
            &nbsp;&nbsp;print(<span class="span1">Fun</span>);<br />
            }<span class="span2">// all that good stuff</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 special4 block">
        <div>
            &nbsp;public function findMeOn (social_media) {<br />
            &nbsp;&nbsp;return {<a class="link2" href="https://github.com/MasterFelix15">GitHub</a>, <a class="link2" href="https://www.facebook.com/profile.php?id=100006359533536&lst=100006359533536%3A100006359533536%3A1519455973">Facebook</a>, <a class="link2" href="https://www.linkedin.com/in/t1anrui-zhang">LinkedIn</a>};<br />
            &nbsp;}<br />
        </div>
    </div>
</div>
<div class="row bottom-padding2">
    <div class="col-md-8 col-md-offset-2 special4 block">
        <div>
            &nbsp;public function findProject (name) {<br />
            &nbsp;&nbsp;switch (name) {<br />
            &nbsp;&nbsp;&nbsp;case "<a class="link2" href="#!a-builder">A-Builder</a>":<br />
            &nbsp;&nbsp;&nbsp;&nbsp;return "<span class="span2">a VR designer utility built with A-Frame</span>";<br />
            &nbsp;&nbsp;&nbsp;case "<a class="link2" href="#!bodylogical">Bodylogical</a>":<br />
            &nbsp;&nbsp;&nbsp;&nbsp;return "<span class="span2">a data visualization project built with Three.js</span>";<br />
            &nbsp;&nbsp;&nbsp;case "<a class="link2" href="#!telegram-bot">Telegram-Bot</a>":<br />
            &nbsp;&nbsp;&nbsp;&nbsp;return "<span class="span2">an intelligent chatbot on telegram</span>";<br />
            &nbsp;&nbsp;}<br />
            &nbsp;}
        </div>
    </div>
</div>