<div class="row top-padding1 bottom-padding2">
    <div class="col-md-10 col-md-offset-1">
        <div class="hd1">Felix Zhang Tianrui</div>

        <div class="hd2">Education</div>
        <div class="hd3">National University of Singapore</div>
        <div class="bd1">
            Bachelor of Computing (Honours) in Computer Science, expected in 2018
        </div>
        <div class="bd1">
            Major: Computer Science
        </div>
        <div class="bd1">
            Coursework in operating systems, compilers, computer architecture, analysis of algorithms, networking, computer vision and computer graphics
        </div>
        <div class="bd1">
            Honor: Recipient of full-scholarship from the Singapore Ministry of Education
        </div>
        <div class="hd3">University of California, San Diego</div>
        <div class="bd1">
            UCEAP Student Exchange Program, Jan. 2017-April 2017
        </div>

        <div class="hd2 pg-start">Research</div>
        <div class="hd3">Bodylogical</div>
        <div class="bd1">
            As a member of Dr. Jurgen P. Schulze's team at UCSD, explored and provided an appropriate solution for 3D data visualization of human health measured by body mass index. Findings and the project detail, source code as well as the demo can be found on the link provided in the Reference section.
        </div>
        <div class="hd3">A-Builder</div>
        <div class="bd1">
            Working with Dr. Bimlesh Wadhwa and Dr. Lu Weiquan, delivered a creativity tool prototype for designers to create 3D models in Virtual Reality, using A-Frame.
        </div>

        <div class="hd2 pg-start">Employment</div>
        <div class="hd3">Apple Inc. (Jun 2017 ~ Dec 2017)</div>
        <div class="bd1">
            Software Engineering Intern: Performed MacOS application development, Apple internal-use website design and revamping, Apple internal-use web-based application development using Java, JavaScript, PHP, SQL, Python with frameworks or libraries like Symfony and Angular.
        </div>
        <div class="hd3">Acxiom Corporation (Apr 2017 ~ Jun 2017)</div>
        <div class="bd1">
            Web Development Intern: Performed web front-end development using Node.js and AngularJS under the Agile Software Development mode. Trained as team leader and conference coordinator.
        </div>
        <div class="hd3">Hua Xin Education (Jul 2016 ~ Aug 2016)</div>
        <div class="bd1">
            Software Engineering Intern: Performed web front-end development using React, back-end development using Java and helped with IOS App development using Swift.
        </div>

        <div class="hd2 pg-start">Skills</div>
        <div class="hd3">Programing languages</div>
        <div class="bd1">
            C, C#, C++, Java, Javascript, Python, PHP, SQL, HTML5, CSS (with a wealth of experience)
        </div>
        <div class="bd1">
            Matlab, Swift, Scala and Haskel (with fair familiarity)
        </div>
        <div class="hd3">Operating systems/software</div>
        <div class="bd1">
            Windows OS, MacOS, Ubuntu and other Linux operating systems
        </div>
        <div class="bd1 pg-end">
            JetBrains PyCharm, JetBrains IntelliJ, JetBrains PhpStorm, Sequel Pro, VirtualBox, Vagrant, Google Chrome, Transmit, Microsoft Office, SQLWorkbenchJ
        </div>
    </div>
</div>